---
import Button from '../../components/buttons/mainButton.astro';

export interface ButtonProps {
  label: string;
  href: string;
  variant?: 'solid' | 'outline';
}
const { headingTitle, headingAccent, text, buttons } = Astro.props as {
  headingTitle: string;
  headingAccent: string;
  text: string;
  buttons: ButtonProps[];
};
---

<section class="contact-cta" id="contact">
  <div class="counter-particles"></div>
  <div class="contact-cta-shape contact-cta-shape-1"></div>
  <div class="contact-cta-shape contact-cta-shape-2"></div>
  <div class="container">
    <div class="contact-cta-container">
      <h2 class="contact-cta-title">
        {headingTitle}
        <span class="accent">{headingAccent}</span>
      </h2>
      <p class="contact-cta-text">
        {text}
      </p>
      <div class="contact-cta-buttons">
        {
          buttons.map((btn) => (
            <Button title={btn.label} href={btn.href} variant={btn.variant ?? 'solid'} />
          ))
        }
      </div>
      <div class="text-white pt-8">💎 Consulta de avaliação 100% gratuita • 📞 Resposta em até 30 minutos</div>
    </div>
  </div>
</section>
