---
interface Button {
  label: string;
  href: string;
  variant?: 'outline' | 'solid';
}

const {
  headingTitle,
  headingAccent,
  text,
  buttons,
} = Astro.props as {
  headingTitle: string;
  headingAccent: string;
  text: string;
  buttons: Button[];
};
---

<section class="contact-cta" id="contact">
  <div class="counter-particles"></div>
  <div class="contact-cta-shape contact-cta-shape-1"></div>
  <div class="contact-cta-shape contact-cta-shape-2"></div>
  <div class="container">
    <div class="contact-cta-container">
      <h2 class="contact-cta-title">
        {headingTitle} <span class="accent">{headingAccent}</span>
      </h2>
      <p class="contact-cta-text">
        {text}
      </p>
      <div class="contact-cta-buttons">
        {buttons.map((btn) => (
          <a
            href={btn.href}
            class={btn.variant === 'outline' ? 'btn btn-outline' : 'btn'}
          >
            {btn.label}
          </a>
        ))}
      </div>
    </div>
  </div>
</section>
