---
import ParticlesBackground from '../../components/animations/ParticlesBackground.astro';
import MainLayout from '../../layouts/mainLayout.astro';
import ServicesSection from '../../components/sections/servicesSection.astro';
import CtaSection from '../../components/sections/ctaSection.astro';
import { contactCTAData } from '../../data/contactCTAData';
import { exampleServices, type ServiceData } from '../../data/servicesData';
import { Image } from 'astro:assets';
import Heading from '../../components/typograph/Heading.astro';
import Paragraph from '../../components/typograph/Paragraph.astro';

// Transformação do exemplo para o formato desejado
const services = exampleServices.map((service) => ({
  image: service.heroImage,
  icon: '💎',
  title: service.title,
  description: service.description,
}));
---

<MainLayout>
  <section class="section services" id="services">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 lg:px-20 px-8">
      {
        services.map((service) => (
          <div class="service-card cursor-pointer reveal-effect">
            <div class="service-image">
              <Image
                src={service.image}
                alt={service.title}
                width={600}
                height={400}
                layout="constrained"
                loading="lazy"
                decoding="async"
                class="w-full h-auto rounded"
              />
            </div>
            <div class="service-content p-4">
              <div class="service-icon mb-2 text-2xl">{service.icon}</div>
              <h3 class="service-title text-xl font-semibold mb-2">{service.title}</h3>
              <p class="service-description text-gray-500 mb-4">{service.description}</p>
              <a href="#" class="service-link text-primary-gold hover:underline">
                Saiba mais
              </a>
            </div>
          </div>
        ))
      }
    </div>
  </section>

  <CtaSection {...contactCTAData} />
  <ParticlesBackground />
</MainLayout>
